<form class="form-horizontal">
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title" %><br><br>
    <%= f.text_area :body, placeholder: "Create a new Post", rows: 10 %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</form>
